In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import nltk
import re
from wordcloud import wordcloud
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential

from keras_preprocessing.sequence import pad_sequences
from keras.layers import Dense
from keras.layers import Embedding
from keras.layers import Conv1D
from keras.layers import MaxPool1D
from keras.layers import LSTM

from sklearn.model_selection import train_test_split

from sklearn.metrics import classification_report, accuracy_score

In [2]:
fake=pd.read_csv("fake.csv")
real=pd.read_csv("true.csv")

In [3]:
fake.columns

Index(['title', 'text', 'subject', 'date'], dtype='object')

In [4]:
fake['subject'].value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [5]:
plt.figure(figsize=(10,6))

In [6]:
#sns.countplot(x='subject',data=fake)

In [7]:
text=' '.join(fake['text'].tolist())

In [8]:
# wordlcoud=wordcloud().generate(text)
# plt.imshow(wordcloud)

In [9]:
text=' '.join(real['text'].tolist())

In [10]:
#WASHINGTON(Reuters) is present in real news

In [11]:
real.sample(5)

,title,text,subject,date
3765,Democrats in U.S. Senate try to slow Republica...,WASHINGTON (Reuters) - Democrats are striking ...,politicsNews,"May 16, 2017"
12477,Amnesty says EU is complicit in violations of ...,BRUSSELS (Reuters) - European governments are ...,worldnews,"December 11, 2017"
4805,U.S. Congressman asks DoD to investigate Trans...,(Reuters) - U.S. Congressman Ro Khanna asked t...,politicsNews,"March 21, 2017"
4160,"U.S., Iran trade barbs over landmark 2015 nucl...",BEIRUT/WASHINGTON (Reuters) - Iran and the Uni...,politicsNews,"April 20, 2017"
5108,Japan PM and U.S. president discuss North Kore...,TOKYO (Reuters) - Japanese Prime Minister Shin...,politicsNews,"March 6, 2017"

In [12]:
unknon_publishers=[]
for index, row in enumerate(real.text.values):
    try:
        record=row.split('-', maxsplit=1)
        assert(len(record[0])<120)
        record[1]
    except:
        
        unknon_publishers.append(index)

In [13]:
len(unknon_publishers)

222

In [14]:
real.iloc[unknon_publishers].text

7        The following statements were posted to the ve...
8        The following statements were posted to the ve...
12       The following statements were posted to the ve...
13       The following statements were posted to the ve...
14        (In Dec. 25 story, in second paragraph, corre...
                               ...
20135     (Story corrects to million from billion in pa...
20500     (This Sept 8 story corrects headline, clarifi...
20667     (Story refiles to add dropped word  not , in ...
21246     (Story corrects third paragraph to show Mosul...
21339     (Story corrects to fix spelling in paragraph ...
Name: text, Length: 222, dtype: object

In [15]:
real=real.drop(8970, axis=0)

In [16]:
publisher=[]
temp_text=[]
for index, row in enumerate(real.text.values):
    if index  in unknon_publishers:
        temp_text.append(row)
        publisher.append('unknown')
    else:
        record=row.split('-', maxsplit=1)
        publisher.append(record[0].strip())
        temp_text.append(record[1].strip())

In [17]:
real['publisher']=publisher
real['text']=temp_text
real.head()
real.shape

(21416, 5)

In [18]:
empty_fake=[index for index,text in enumerate(fake.text.tolist()) if str(text).strip()=="" ]

In [19]:
fake.iloc[empty_fake]

,title,text,subject,date
10923,TAKE OUR POLL: Who Do You Think President Trum...,,politics,"May 10, 2017"
11041,Joe Scarborough BERATES Mika Brzezinski Over “...,,politics,"Apr 26, 2017"
11190,WATCH TUCKER CARLSON Scorch Sanctuary City May...,,politics,"Apr 6, 2017"
11225,MAYOR OF SANCTUARY CITY: Trump Trying To Make ...,,politics,"Apr 2, 2017"
11236,SHOCKER: Public School Turns Computer Lab Into...,,politics,"Apr 1, 2017"
...,...,...,...,...
21816,BALTIMORE BURNS: MARYLAND GOVERNOR BRINGS IN N...,,left-news,"Apr 27, 2015"
21826,FULL VIDEO: THE BLOCKBUSTER INVESTIGATION INTO...,,left-news,"Apr 25, 2015"
21827,(VIDEO) HILLARY CLINTON: RELIGIOUS BELIEFS MUS...,,left-news,"Apr 25, 2015"
21857,(VIDEO)ICE PROTECTING OBAMA: WON’T RELEASE NAM...,,left-news,"Apr 14, 2015"
21873,(VIDEO) HYSTERICAL SNL TAKE ON HILLARY’S ANNOU...,,left-news,"Apr 12, 2015"

In [20]:
#merge title and text together

In [21]:
real['text']=real['title']+" "+real['text']
fake['text']=fake['title']+" "+fake['text']

In [22]:
real['text']=real['text'].apply(lambda x: str(x).lower())
fake['text']=fake['text'].apply(lambda x: str(x).lower())

In [23]:
#preprocessing for text

In [24]:
real['class']=1
fake['class']=0

In [25]:
real.columns

Index(['title', 'text', 'subject', 'date', 'publisher', 'class'], dtype='object')

In [26]:
real=real[['text', 'class']]
fake=fake[['text', 'class']]

In [27]:
real.columns

Index(['text', 'class'], dtype='object')

In [28]:
data=real.append(fake)

C:\Users\inaze\AppData\Local\Temp\ipykernel_10044\137480656.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=real.append(fake)

In [29]:
data=pd.concat([real, fake], ignore_index=True)

In [30]:
import re
def clean(text):
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
   
    text = re.sub('\n', '', text)
   
    return text
data['text']=data['text'].apply(clean)

In [31]:
data.head(3000)

                                                   text  class
0     as u.s. budget fight looms, republicans flip t...      1
1     u.s. military to accept transgender recruits o...      1
2     senior u.s. republican senator: 'let mr. muell...      1
3     fbi russia probe helped by australian diplomat...      1
4     trump wants postal service to charge 'much mor...      1
...                                                 ...    ...
2995  trump brand to exit toronto skyline after buyo...      1
2996  pence says trump-modi meetings 'historic and p...      1
2997  nafta hearings start with democratic lawmakers...      1
2998  supreme court's recent unity faces looming tes...      1
2999  senate postpones planned healthcare vote until...      1

[3000 rows x 2 columns]

In [32]:
data.sample()

                                                    text  class
29168   white nationalist radio: trump gave us a pres...      0

In [33]:
data.value_counts('class')

class
0    23481
1    21416
dtype: int64

In [34]:
# data=data.replace('!','',regex=True)
# data=data.replace('@','',regex=True)
# data=data.replace('-','',regex=True)
# data=data.replace('.','',regex=True)
# data=data.replace('?','',regex=True)
# data=data.replace('#','',regex=True)
# data=data.replace('\\','',regex=True)

In [35]:
data.head()

                                                text  class
0  as u.s. budget fight looms, republicans flip t...      1
1  u.s. military to accept transgender recruits o...      1
2  senior u.s. republican senator: 'let mr. muell...      1
3  fbi russia probe helped by australian diplomat...      1
4  trump wants postal service to charge 'much mor...      1

In [ ]:
import gensim
DIM=100
y=data['class'].values
x=[d.split() for d in data['text'].tolist()]
w2v_model=gensim.models.Word2Vec(sentences=x, vector_size=DIM, window=10, min_count=1)

In [ ]:
len(w2v_model.wv)

In [ ]:
vec=0

In [ ]:
 vec += w2v_model.wv['love'].reshape((1, DIM))

vec

In [ ]:
w2v_model.wv.most_similar('india')

In [ ]:
tokenizer=Tokenizer()
tokenizer.fit_on_texts(x)

In [ ]:
x=tokenizer.texts_to_sequences(x)

In [ ]:
t=tokenizer.word_index

In [ ]:
#plt.hist([len(l) for l in x], bins=700)
#plt.show() to find words in each row

In [ ]:
nos=np.array([len(l) for l in x])
len(nos[nos>1000])

In [ ]:
maxlen=1000
l=pad_sequences(x, maxlen=maxlen)
len(l[0])

In [ ]:
vocab_size=len(tokenizer.word_index)+1
vocab=tokenizer.word_index
def get_weight_matrix(model):
    weight_matrix=np.zeros((vocab_size, DIM))
    for word, i in vocab.items():
        weight_matrix[i]=model.wv[word]
    return weight_matrix

In [ ]:
e=get_weight_matrix(w2v_model)

DIM

In [ ]:
DIM

In [ ]:
e.shape

In [ ]:
model=Sequential()
model.add(Embedding(vocab_size, output_dim=DIM, weights=[e], input_length=maxlen, trainable=False))
model.add(LSTM(units=128))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])

In [ ]:
model.summary()

In [56]:
x_train, x_test, y_test, y_train=train_test_split(x, y)
model.fit(x_train, y_train, validation_split=0.3, epochs=6)

KeyboardInterrupt: